html, body {
  margin: 0;
  padding: 0;
  background: #5c832f;
  font-family: 'Expletus Sans', cursive;
  color: #D8CAA8;
  font-weight: 700;
}

p {
  font-size: 24px;
}

h2 {
  font-size: 46px;
  display: block;
  text-align: center;
  margin-bottom: 150px;
}

h3 {
  font-size: 88px;
}

.intro {
  margin: 0;
}

.halfFrame {
  top: 0;
  position: fixed;
  height: 50vh;
  border: 1px solid black;
  opacity: 0.5;
  width: 100%;
}

.parallax-cont {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.parallax-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 300px;
  z-index:3;
  -webkit-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.75);

}

.parallax-img {
  background: url('bg.jpg');
  height: 800px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.parallax-txt {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -180px;
}

.fade1 {
  opacity: .5;
}
.fade2 {
  opacity: .3;
}