.my-thing {
  text-decoration: underline;
}

.spiral {
  /*position: fixed;*/
  /*top: 0;*/
}

h2 {
  display: block;
  text-align: center;
}

.anim {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.fade {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}
