html, body {
  margin: 0;
  padding: 0;
  background: #5c832f;
  font-family: 'Expletus Sans', cursive;
  color: #D8CAA8;
  font-weight: 700;
}

p {
  font-size: 24px;
}

.intro {
  margin: 0;
}

.halfFrame {
  top: 0;
  position: fixed;
  height: 50vh;
  border: 1px solid black;
  opacity: 0.5;
  width: 100%;
}

.my-thing {
  text-decoration: underline;
}

.spiral {
  /*position: fixed;*/
  /*top: 0;*/
}

h2 {
  font-size: 46px;
  display: block;
  text-align: center;
  margin-bottom: 150px;
}

.anim {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.fade {
  opacity: 0;
}

.hide {
  opacity: 0;
}

.slide {
  transform: translateX(-400px)
}

.slide2 {
  transform: translateY(-400px)
}

.fadeIn {
  opacity: 1;
  transform: translate(0, 0);
}

.slideOut {
  transform: translateX(400px)
}

.slideOut2 {
  transform: translateY(400px)
}